/* Variables */
:root {
  --bkblue: #1f439b;
  --headerbg: white;
  --bodybg: lightgray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  border-bottom: 5px solid;
  border-color: var(--bkblue);
  padding: 20px 35px;
  display: flex;
  background-color: var(--headerbg);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size:1.55vw;
  color: black;
}

body {
  background-color: var(--bodybg);
}

.header-logo {

}
