/* Variables */
:root {
  --bkblue: #1f439b;
  --headerbg: white;
  --bodybg: lightgray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--bkblue);
}


header {
  border-bottom: 5px solid;
  border-color: var(--bkblue);
  padding: 20px 35px;
  display: flex;
  background-color: var(--headerbg);
  flex-wrap: wrap;
  align-items: center;
}

header img {
  height: 60px;
}

header nav {
  margin-left: auto;
  flex-grow: .8;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size:2.3vw;
  color: black;
}

body {
  background-color: var(--bodybg);
}

.header-logo {

}
