/* Variables */
:root {
  --bkblue: #1f439b;
  --logobg: white;
  --bodybg: lightgray;
  --shadow: black;
}

/* Global styling */
* { /* Remove margin/padding from all elements to use 100% of screen */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none; /* hide hyperlink decoration (default underline, colors, etc) */
}

header {
  padding: 10px 20px; /* padding for edge of header */
  background-color: var(--logobg);

  display: flex; /* Make header flexbox so items stay positioned correctly */
  align-items: center; /* center children vertically (logo/links) */

  border-bottom: 5px solid; /* BK Blue border along bottom of header */
  border-color: var(--bkblue);
  box-shadow: 0px 2px 10px var(--shadow); /* Shadow under header */
}

.header-logo img {
  /* Hide on mobile */
  display: none;
  /* keep logo a nice height and away from left side of vp */
  height: 60px;
  padding: 0 30px;
}

header nav {
  margin-left: auto; /* navbar stays aligned to right side of flexbox */
  flex-grow: .7; /* navbar grows to fit space to right of logo */
  padding-right: 30px;
}

header nav a:hover {
  color: var(--logobg); /* make links bk blue when hovering */
  background-color: var(--bkblue);
  border-radius: 10px;
}

header nav ul {
  list-style: none; /* no bullet points */
  display: flex; /* display list items in a row instead of column */
  justify-content: space-between; /*keep equal space between list items */
}

header nav ul li a {
  padding: 10px 10px; /* keep links spaced slightly */

  /* font options */
  font-weight: lighter;
  font-size: 2.5vw;
  color: black;

  /* make sure link text is centered if forced to wrap */
  display: inline-block;
  text-align: center;
}

body {
  background-color: var(--bodybg);
}

/* Hero Styling */
.hero {
  width: 100vw;
  background-image: url(../images/heroRoll/job1.jpg);
  background-position: 50% 70%;
  background-size: cover;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-heading {
  flex: 1;
  height: 60%;
  display: flex;
  align-items: center;
}

.hero-heading h1 {
  padding: 20px 60px;
}

.hero-about {
  flex: 1;
  background-color: var(--bkblue);
  color: white;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
}
.hero-about h2 {
  padding: 20px 20px 0 20px;
  text-align: center;
}

.hero-about p {
  padding: 10px 20px 20px 20px;
  text-align: justify;
}
/* End Hero Styling */

/* MEDIA QUERY FOR TABLETS AND LARGER */
@media screen and (min-width: 574px)
{
  /*show logo*/
  #logo
  {
    display: initial;
  }

  /* TODO switch hero from flexbox to grid */
  .hero {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .hero-heading {
    grid-column: -6;
    grid-row: 1/-3;
  }

  .hero-about {
    grid-column: -5/-1;
    grid-row: 2/-2;
  }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND LARGER */
@media screen and (min-width: 767px) {
  /* Make navbar links slightly smaller once the screen is big enough */
  header nav ul li a {
    font-size: 2vw;
  }

  .hero-heading {
    grid-column: -5;
  }

  .hero-about {
    grid-column: -4/-1;
  }

}

/* MEDIA QUERY FOR FULL SIZE SCREENS AND LARGER */
@media screen and (min-width: 979px) {
  header nav { /* reduce width of navbar */
    flex-grow: .5;
  }

  header nav ul li a { /* make links relatively smaller*/
    font-size: 1.3vw;
    padding: 20px 20px;
  }

  .hero {
    height: 88vh;
    grid-template-columns: repeat(6, 1fr);
  }

  .hero-heading {
    grid-column: -4;
  }

  .hero-about {
    grid-column: -3/-1;
  }
}

/* MEDIA QUERY FOR LARGE SCREENS AND LARGER */
@media screen and (min-width: 1400px) {
  header nav { /* reduce width of navbar */
    flex-grow: .3;
  }

  .hero-heading {
    grid-row: 3;
  }

  .hero {
    grid-template-columns: repeat(6, 1fr);
  }
}
